.panda-bg-color{
    background-color: #fceae8;
}
 .btn-buy-now{
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}